body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}

p {
    margin: 0;
    line-height: 1.37em;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.header {
    padding-top: 60px;
}

.offer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
}

.offer {
    width: 465px;
}

.logo {
    margin: 0 auto;
    display: block;
}

.introtext {
    font-size: 18px;
    margin: 30px 0;
}

.btn {
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 218px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #232323;
}

section {
    padding-top: 120px;
}

.digit-item {
    display: flex;
    align-items: center;
}

.digit {
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    transition: all 0.5s ease;
}

.digit-item:hover .digit {
    background: #000;
    color: #fff;
}

.digit-title {
    font-size: 30px;
    margin-bottom: 11px;
}

.digits {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto;
}

.practice-wrap {
    background: linear-gradient(102deg, #E8FFE8 17.38%, #D1F0FF 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 98px 168px 89px 122px;
}

.practice-inner {
    width: 432px;
    margin-left: 101px;
}

.practice-title {
    text-align: left;
}

.practice-text {
    width: 371px;
    margin: 24px 0;
}

.footer {
    padding: 120px 0;
    text-align: center;
    font-size: 15px;
}