* {
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("img/intro-bg.jpg");
    background-repeat: no-repeat;
}

.container {
    width: 1000px;
    margin: 0 300px;
    
    
}

/*Header
=========================*/

.header__logo {
    padding-right: 100px;

}

.header__inner {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    
    
}

.nav__link {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 50px;
}

/*Intro
=========================*/

.intro__title {
    font-size: 65px;
    color: #ffff;
    text-transform: uppercase;
    margin-top: 150px;
}

.intro__subtitle {
    font-size: 22px;
    color: #ffff;
    margin-bottom: 80px;
    
}

.intro__link {
    background-color: rgb(248, 61, 61);
    color: #ffff;
    font-size: 13px;
    padding: 20px 60px;
    text-decoration: none;
    text-transform: uppercase;
}

.intro__link:hover {
    background-color: red;
}